<!--<h1>Public::Homes#top</h1>-->
<!--<p>Find me in app/views/public/homes/top.html.erb</p>-->

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/items/list', genres: @genres %>
    </div>

    <div class="col-md-8 offset-md-1">
      <div style = "border: solid 3px #000; padding-top: 20px; padding-bottom: 20px; margin: 5em">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
      </div>

      <div>
        <h2>新着商品</h2>
        <div class="row">
          <% @items.each do |item| %>
            <div class="col-md-3">
              <div>
                <%= image_tag item.image, size: "200x200" %><br>
                <%= link_to item.name, item_path(item.id) %><br>
                ￥<%= (item.price * 1.1).round.to_s(:delimited) %><br>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>